<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--引入vue-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<body>
<!--准备好一个容器-->
<div id="root">
    姓：<input type="text" v-model="firstName"><br>
    名：<input type="text" v-model="lastName"><br>
    全名：<span>{{firstName}}-{{lastName.slice(0,5)}}</span>
</div>

<script type="text/javascript">
    new Vue({
    //    实例绑定盒子
        el:'#root',
        data:{
            firstName:'刘',
            lastName:'帅彪'
        }

    })
</script>

</body>
</html>